@model IEnumerable<Afaqy_Store.DataLayer.SIMCard>
@{
    ViewBag.Title = "TestDesign";
    Layout = "~/Views/Shared/_Default.cshtml";
}

<div ng-app="app">
    <div ng-controller="MainCtrl">
        <button ng-click="showPopup()">testbutton</button>
        <script type="text/ng-template" id="myModal.html">
            <div class="modal-header">
                <h2 class="modal-title">Sample form in Angular Modal</h2>
            </div>
            <div class="modal-body">
                <div>
                    <!--We can implement forms and anything we want here-->
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="text-info">Email: </label>
                            <input type="email" ng-model="email" class="form-control" placeholder="Email" />
                        </div>
                        <div class="form-group">
                            <label class="text-info">Name:</label>
                            <input type="text" ng-model="name" class="form-control" placeholder="Name" />
                        </div>
                        <div class="form-group">
                            <label class="text-info">Password</label>
                            <input type="password" ng-model="password" class="form-control" placeholder="Password" />
                        </div>
                        <input type="button" class="btn btn-success" ng-click="ok()" value="Submit" />
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" ng-click="cancel()">cancel</button>
            </div>
        </script>
    </div>
</div>

@section scripts{
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
<script src="~/Content/js/ui-bootstrap-tpls-2.3.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />

    <script>
        var app = angular.module('app', ['ui.bootstrap']);
        app.controller('MainCtrl', ['$scope', '$uibModal', function ($scope, $uibModal) {
            var fakeI18n = function (title) {
                var deferred = $q.defer();
                $interval(function () {
                    deferred.resolve('col: ' + title);
                }, 1000, 1);
                return deferred.promise;
            };

            $scope.showPopup = function () {
                var modalInstance = $uibModal.open({
                    animation: true,
                    templateUrl: 'myModal.html',
                    controller: 'createController',
                    backdrop: false,
                });
            }

        }]);

        app.controller('createController', ['$scope', '$uibModalInstance', function ($scope, $uibModalInstance) {
            $scope.ok = function () {
                //it close the modal and sends the result to controller
                $scope.data = "welcome";
                $uibModalInstance.close($scope.data);
            };
            $scope.cancel = function () {
                //it dismiss the modal
                $uibModalInstance.dismiss('cancel');
            };
        }]);
</script>
}
