@model Afaqy_Store.Models.DeviceEditModel
@using Classes.Helper;
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Default.cshtml";
    var lst = Model.DeviceModelType.Select(x=> new CustomSelectListItem() { Selected = x.Selected, Value = x.Value, Text = x.Text});
}
@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.EditItem.DeviceModelTypeId);
@Html.CustomDropdownListFor(m => m.EditItem.DeviceModelTypeId, lst, null, "---- Select ----",
        new { name = "DeviceModelTypeId", id = "DeviceModelTypeId" })
@Html.ValidationMessageFor(m => m.EditItem.DeviceModelTypeId, null, new { @class = "ValidationErrors" })
    <button type="submit">Save</button>
}


@section scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <!--Jquery Select2-->
    <script src="~/Content/js/select2/select2.js"></script>

<script>
    //--Jquery Select2--
    $("#DeviceModelTypeId").select2();

</script>
}
